section {
  .heading {
    h2 {
      font-size: 24px;
      font-weight: 600;
      color: var(--dark-gray);
      margin-bottom: 25px;
    }
    a {
      font-size: 14px;
      font-weight: 400;
      color: var(--primary-red);
      transition: 0.5s;
      &:hover {
        color: var(--primary-blue);
      }
    }
  }
}
.banner {
  position: relative;
  .item {
    img {
      width: 100%;
      border-radius: 6px;
    }
  }
}

.explore{
  &__list{
    .item{
      .image{
        img{
          border-radius: 6px;
          height: 125px;
          object-fit: cover;
        }
      }
    }
  }
}

.discover {
  &__list {
    .item {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s;
      a {
        z-index: 99;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: 0.5s;
        background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0),
          rgba(0, 0, 0, 0.5)
        );
      }
      &:hover {
        &::before {
          display: none;
        }
      }
      .image {
        img {
          width: 100%;
          height: 270px;
          object-fit: cover;
        }
      }

      .title {
        position: absolute;
        bottom: 0;
        z-index: 1;
        padding: 10px;
        width: 100%;
        h3 {
          font-size: 16px;
          text-align: center;
          display: block;
          a {
            color: var(--white);
          }
        }
      }
    }
  }
  .slick-slide {
    margin: 0 15px;
  }
  .slick-list {
    margin: 0 -15px;
  }
}

.box-item {
  margin-top: 20px;
  &__info {
    padding-top: 12px;
  }

  &__title {
    min-height: 42px;
    margin-bottom: 10px;
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
    a {
      color: #222;
      transition: 0.5s;
      display: block;
    }

    &:hover {
      a {
        color: var(--primary-red);
      }
    }
  }

  &__cover {
    img {
      width: 100%;
      border-radius: 6px;
      object-fit: cover;
      height: 180px;
    }
  }

  &__price {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--primary-red);
  }

  &__service {
    span {
      font-size: 14px;
      margin-left: 3px;
      color: var(--gray);
    }
    .direction {
      img {
        width: 20px;
        height: 18px;
      }
    }
  }

  &__city {
    color: var(--gray);
    margin-bottom: 10px;
    font-size: 14px;
    img {
      width: 12px;
      height: 16px;
      margin-right: 3px;
      margin-top: -4px;
    }
  }
}

.news {
  &__list {
    .right {
      .item {
        .title {
          h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            text-align: justify;
          }
        }
        &:not(:last-child) {
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid var(--light-gray);
        }
      }
    }
    .left {
      .image {
        img {
          height: 300px;
          object-fit: cover;
        }
      }
      .desc {
        margin-top: 15px;
        .title {
          h3 {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
          }
          margin-bottom: 15px;
        }
        p {
          text-align: justify;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  .ads {
    .ads-item {
      img {
        height: 220px;
        object-fit: contain;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.contact {
  .heading {
    h2 {
      margin-bottom: 15px;
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
    }
  }
  &__form {
    .wpcf7-form-control-wrap {
      display: block;
      .wpcf7-form-control {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        border: 1px solid var(--bright-gray);
        font-size: 14px;
        padding: 5px 15px;
        &:focus {
          border: 1px solid var(--bright-gray);
          outline: none;
          box-shadow: none;
        }
      }
      .wpcf7-textarea {
        height: 100px;
      }
    }
    .wpcf7-submit {
      width: 100%;
      height: 40px;
      border-radius: 6px;
      border: 1px solid var(--primary-blue);
      background-color: var(--primary-blue);
      color: var(--white);
      font-size: 16px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        border: 1px solid var(--primary-red);
        background-color: var(--primary-red);
      }
    }
  }
  &__info {
    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
      color: var(--primary-red);
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0px;
      text-align: justify;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.brand{
  background-color: #efefef;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }

  &__item {
    align-self: center;
    background-color: var(--white);

    height: 100%;
    display: flex;
    align-items: center;

    img {
      object-fit: cover;
    }
  }
}

.car-rental__data {
  position: relative;
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // column-gap: 20px;
  .slick-slide{
    margin-left:  15px;
    margin-right:  15px;
  }

  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
    pointer-events: none;
  }

  .nav-control{
    display: block;
    width: 100%;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .am{
      position: absolute;
      border-radius: 50%;
      background-color: #FFF;
      top: 0;
      width: 36px;
      height: 36px;
      float: left;
      box-sizing: border-box;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;

      &-next{
        left: -15px;
      }

      &-prev{
        right: -15px;
      }
    }
  }
}

.box-book {
  padding: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  box-shadow: 0 3px 6px var(--bright-gray);

  &__title i {
    color: var(--primary-red);
    margin-right: 5px;
  }

  &__route {
    font-weight: 600;
    margin-left: 20px;

    .route-title{
      margin-left: 15px;
    }

    span.fa-li{
      color: var(--bright-gray);
      font-size: 13px;
    }
  }

  &__route-from {
    margin-bottom: 15px;
  }

  &__route-to {
    margin-bottom: 15px;

    span.fa-li:after {
      content: "";
      width: 1px;
      height: 110%;
      position: absolute;
      top: -90%;
      left: 49%;
      border: 1px solid currentColor;
      transform: translateX(-50%);
    }
  }

  &__service {
    display: flex;
    justify-content: space-between;
  }

  &__way {
      color: var(--primary-red);
  }

  .button-now {
    display: block;
    background-color: var(--bright-gray);
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s;

    &:hover{
      transform: translateY(-5px);
    }
  }

}

.gallery{
  position: relative;

  &__data {
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
    gap: 10px;
    overflow: hidden;
  }

  &__item{
    &:hover{
      img{
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        opacity: 1;
      }
    }

    img{
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      opacity: .4;
  
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s ease;
      cursor: pointer;
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 400;
    line-height: 56px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 24px;
    height: 56px;
    background-color: rgb(230, 87, 101);
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.2s ease;
    z-index: 10;

    &:hover{
      background-color: var(--white);
    }
  }
}

.testimonial{

  &__item {
    border: 1px solid #e4e5e6;
    box-shadow: 0 4px 6px rgba(49,50,51,0.1);
    border-radius: 3px;
    background-color: white;
    padding: 32px 40px;
    text-align: center;
  }

  &__quote{
    width: 30px;
    height: 30px;
    fill: var(--primary-red);
  }

  &__info {
    margin-bottom: 0;
    margin-top: 32px;
  }

  &__image {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(69, 70, 71);
    margin-top: 10px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 24px 0px 32px;
  }

  &__data {
    position: relative;

    .slick-slide{
      margin-left:  15px;
      margin-right:  15px;
    }
  
    .slick-list {
      margin-left: -15px;
      margin-right: -15px;
      pointer-events: none;
    }
  
    .nav-control{
      display: block;
      width: 100%;
      
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  
      .am{
        position: absolute;
        border-radius: 50%;
        background-color: #FFF;
        box-shadow: 0 2px rgba(69,70,71,0.1);

        top: 0;
        width: 36px;
        height: 36px;
        float: left;
        box-sizing: border-box;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &-next{
          right: -15px;
        }
  
        &-prev{
          left: -15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .box-item__service span {
    flex-direction: column;
    align-items: center;

    svg {
      margin-bottom: auto;
    }
  }

  .brand {
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (max-width: 768px) {
  .gallery__data{
    grid-template-columns: repeat( 4, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  section {
    padding-top: 40px;
  }

  .brand {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 565px) {
  .box-item {
    &__cover {
      img {
        height: 355px;
      }
    }

    &__service span {
      flex-direction: row;

      svg {
        margin-bottom: 0;
      }
    }
  }
}
