@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


@keyframes hideSocial{
  0%{
    opacity: 1;
    visibility: visible;
  }

  100%{
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6) translateY(-8px);
  }
  
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes transitionX{
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-10);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.footer {
  &__copyright {
    padding: 10px 0px;
    background: var(--primary-blue);
    span {
      color: #bce4ff;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }
  &__policy {
    background-color: var(--lighter-gray);
    padding: 10px 0px;
    ul {
      list-style: none;
      padding-left: 0px;
      margin-bottom: 0px;
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 10px;
          padding-right: 10px;
          position: relative;
          &::after {
            content: "";
            right: -3px;
            border-left: 1px solid var(--gray);
            height: 16px;
            position: absolute;
            top: 3px;
          }
        }
        a {
          letter-spacing: 0.5px;
          color: var(--gray);
          font-size: 14px;
          -ms-transition: color 0.4s ease, font-weight 0.4s ease;
          -o-transition: color 0.4s ease, font-weight 0.4s ease;
          -moz-transition: color 0.4s ease, font-weight 0.4s ease;
          -webkit-transition: color 0.4s ease, font-weight 0.4s ease;
          transition: color 0.4s ease, font-weight 0.4s ease;
          &:hover {
            color: var(--dark-gray);
          }
        }
      }
    }
  }
  &__main {
    h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      color: var(--dark-gray);
      position: relative;
      margin-bottom: 10px;
      letter-spacing: 0.5px;
      &.line {
        font-size: 18px;
        text-align: right;
        position: relative;
        &::before {
          border-top: 3px solid var(--primary-purple);
          display: block;
          margin-left: auto;
          margin-bottom: 15px;
          width: 65px;
          content: "";
        }
      }
    }
    ul {
      list-style: none;
      padding-left: 0px;
      margin-bottom: 0px;
    }
    .footer-list {
      ul {
        li {
          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.5px;
            color: var(--gray);
            transition: 0.4s, font-weight 0.4s;
            text-decoration: none;
            &:hover {
              color: var(--primary-purple);
              padding-left: 6px;
            }
          }
          margin-bottom: 0px;
          line-height: 18px;
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
    }
    .social {
      ul {
        text-align: right;
        li {
          display: inline-block;
          img {
            width: 22px;
            height: 22px;
          }
          &:not(:last-child) {
            margin-right: 6px;
          }
          a:hover {
            img {
              animation: tada 1s ease;
            }
          }
        }
      }
    }
    .contact {
      text-align: right;
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.5px;
      }
      a {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 2px;
        color: var(--primary-purple);
        -ms-transition: color 0.4s ease, font-weight 0.4s ease;
        -o-transition: color 0.4s ease, font-weight 0.4s ease;
        -moz-transition: color 0.4s ease, font-weight 0.4s ease;
        -webkit-transition: color 0.4s ease, font-weight 0.4s ease;
        transition: color 0.4s ease, font-weight 0.4s ease;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.social{

  &-network{
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    transition: all 0.35s linear;
    animation: hideSocial 350ms forwards;

    img {
      object-fit: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: relative;
      border: 5px solid #fff;
      box-shadow: 0 4px 6px rgba(49,50,51,0.1);
      transition: all 0.35s linear;
      cursor: pointer;
    }

    &.active-animate{
      // animation: hideSocial 350ms ease-in-out;
      animation-name: animateIn;
      animation-duration: 350ms;
      animation-delay: calc(var(--animation-order) * 100ms);
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      transition: all 0.35s linear;

      &:hover{
        margin-right: 10px;

        .social__description{
          background-color: var(--primary-blue);
          color: #fff;
        }

        .social__image{
          border: 5px solid var(--primary-yellow);
        }
      }
    }
  }

  &__description {
    padding: 5px 15px;
    background-color: var(--primary-yellow);
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.35s linear;
    cursor: pointer;
  }

  #social-main {
    display: flex;
    line-height: 1.2;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: auto;

    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 4px 6px rgba(49,50,51,0.1);
    cursor: pointer;

    border-radius: 50%;
    border: 5px solid #fff;

    backface-visibility: hidden;
    background: linear-gradient(130deg, #ea3dc6, #821bfe, #9ffffe);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
  }
}


